---
import { db } from "astro:db";
import { Manga } from "astro:db";
import DefaultLayout from "../layouts/DefaultLayout.astro";
import { desc } from "astro:db";

const latestMangaUpdated = await db
  .select()
  .from(Manga)
  .limit(30)
  .orderBy(desc(Manga.updated));
---

<DefaultLayout>
  <div class="">
    <div class="flex flex-col items-center">
      <h2 class="text-2xl">Latest manga</h2>
      <div
        class="grid grid-flow-col w-5 gap-5 overflow-auto min-w-full justify-start"
      >
      {
        latestMangaUpdated.map(({ cover, title, id }) => (
          <a href={`mangas/${id}`}>
            <div class="w-32 md:w-52 rounded-md flex flex-col align-middle items-center select-none">
              <img class="p-2 pb-2 h-48 md:h-80 object-cover" src={cover} />
              <i class="text-center">{title}</i>
            </div>
          </a>
          <a href={`mangas/${id}`}>
            <div class="w-32 md:w-52 rounded-md flex flex-col align-middle items-center select-none">
              <img class="p-2 pb-2 h-48 md:h-80 object-cover" src={cover} />
              <i class="text-center">{title}</i>
            </div>
          </a>
        ))
      }
      </div>
    </div>
  </div>
</DefaultLayout>
